/**
 * File: colors.scss
 * Description: Styles for the  colors section
 * Dependencies: None
 *
 * @package ui_styleguide
 */

/* === General Section Styles === */
.colors { background: $color__blue--dark; }
.colors {
  .section__title-link { color: $color__white; }
  .section__title-link:hover .section__title-hash { color: $color__white; }
}

/* === Colors Boxes === */
.colors__list {
  padding-right: calc-rem(10);
  padding-left: calc-rem(10);

  &--colors { margin-bottom: calc-rem(20); }
}
.colors__color {
  display: inline-block;
  float: none;
  margin-bottom: calc-rem(5);
  padding-top: calc-rem(10);
  padding-right: calc-rem(20);
  padding-bottom: calc-rem(10);
  padding-left: calc-rem(20);
  width: auto;

  // Colors
  &--red {
    color: $color__white;
    background-color: $color__red;
  }
  &--darkorange {
    color: $color__white;
    background-color: $color__orange--dark;
  }
  &--lightorange { background-color: $color__orange--light; }
  &--yellow { background-color: $color__yellow; }
  &--lightgreen { background-color: $color__green--light; }
  &--mediumgreen { background-color: $color__green--medium; }
  &--darkgreen {
    color: $color__white;
    background-color: $color__green--dark;
  }
  &--lightblue { background-color: $color__blue--light; }
  &--mediumlightblue {
    color: $color__white;
    background-color: $color__blue--medium-light;
  }
  &--mediumblue {
    color: $color__white;
    background-color: $color__blue--medium;
  }
  &--darkblue {
    color: $color__white;
    background-color: $color__blue--dark;
  }

  // Monochrome
  &--white { background-color: $color__white; }
  &--lightgrey { background-color: $color__grey--light; }
  &--mediumgrey { background-color: $color__grey--medium; }
  &--grey {
    color: $color__white;
    background-color: $color__grey;
  }
  &--black {
    color: $color__white;
    background-color: $color__black;
  }
}
