/**
 * File: typography.scss
 * Description: Defines the fonts for the application
 * Dependencies: Lato
 *
 * @package ui_styleguide
 */

/* === Fonts === */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

@font-face {
	font-family: 'planetlab';
	src:url('fonts/planetlab.eot?uvjbtt');
	src:url('fonts/planetlab.eot?uvjbtt#iefix') format('embedded-opentype'),
		url('fonts/planetlab.ttf?uvjbtt') format('truetype'),
		url('fonts/planetlab.woff?uvjbtt') format('woff'),
		url('fonts/planetlab.svg?uvjbtt#planetlab') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="pl-"], [class*=" pl-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'planetlab' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.pl-drop:before { content: "\e900"; }

/* === Base Variables === */
$text__family--lato: 'Lato', 'Arial', sans-serif;
$text__size--base: 20;

/* === Applying -- Body === */
html {
  font-family: $text__family--lato;
  font-size: $text__size--base * 1px;
}
body {
  color: $color__black;
  font-family: $text__family--lato;
  font-size: calc-rem(14);
}

/* === Headers === */
%heading {
  margin-bottom: calc-rem(15);
  padding-bottom: calc-rem(10);
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: bold;
}
h1 {
  @extend %heading;
  font-size: calc-rem(40);
  text-align: center;
  border-bottom: 1px solid $color__grey--light;
}
h2 {
  @extend %heading;
  font-size: calc-rem(35);
}
h3 {
  @extend %heading;
  font-size: calc-rem(30);
}
h4 {
  @extend %heading;
  font-size: calc-rem(25);
}
h5 {
  @extend %heading;
  font-size: calc-rem(20);
}
h6 {
  @extend %heading;
  font-size: calc-rem(15);
}
