/**
 * File: colors.scss
 * Description: Defines all the colors to be used in the application
 * Dependencies: None
 *
 * @package ui_styleguide
 */

/* === Monochrome Colors === */
$color__white: #f4f4f4;
$color__grey--light: #eaeaea;
$color__grey--medium: #d3d3d3;
$color__grey: #7c898b;
$color__black: #292f36;

/* === Colors === */
$color__red: #E02819;
$color__orange--dark: #F95F21;
$color__orange--light: #FF9500;
$color__yellow: #EDD94C;
$color__green--light: #92C487;
$color__green--medium: #8AC44B;
$color__green--dark: #2F8E19;
$color__blue--light: #A0CDEC;
$color__blue--medium-light: #4FA2DC;
$color__blue--medium: #254EAE;
$color__blue--dark: #20202D;
